/*FONT IMPORT*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url(Ubuntu-Regular.ttf);
}

/*FONT*/

* {
    -fx-font-family: 'Ubuntu-Regular';
    color: #2F2F2F;
}

.buttons {
    -fx-background-color: #5F9EA0;
    -fx-border-radius: 0,0,0,0;
}

.buttons:hover{
    -fx-background-color: #7acbce;
    -fx-cursor: hand;
}

.up,
.down{
    -fx-background-color: rgba(0,0,0,0);
    -fx-cursor: hand;
}
.up{
    -fx-background-image: url("images/contract.png");
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
}

.down{
    -fx-background-image: url("images/expand.png");
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
}

.slider{
    -fx-cursor: hand;
}