/*FONT IMPORT*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url('Ubuntu-Regular.ttf');
}

/*FONT*/

* {
    -fx-font-family: Ubuntu-Regular;
    -fx-text-fill: #2F2F2F;
    -fx-font-size: 1.2em;
}

.button {
    -fx-background-color: #5F9EA0;
    -fx-background-radius: 15.0;
}

.button .text{
    -fx-text-alignment: center;
}

.button:hover{
    -fx-background-color: #7acbce;
    -fx-cursor: hand;
}

.up,
.down{
    -fx-cursor: hand;
    -fx-background-color: none !important;
}
.up{
    -fx-background-image: url("images/contract.png");
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
}

.down{
    -fx-background-image: url("images/expand.png");
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
}
.slider .track{
    -fx-background-color: #5F9EA0;
}

.slider .thumb{
    -fx-background-color: #7acbce;
}

.slider,
.menu:hover,
.label,
.context-menu{
    -fx-cursor: hand;
}

.menu-bar,
.menu-bar *{
    -fx-background-color: #5F9EA0;
}

.menu-button:hover,
.menu:hover,
.menu:hover> .label,
.menuItem:hover,
.menuItem:hover> .label{
    -fx-background-color: #7acbce !important;
}
.combo-box{
    -fx-background-color: #5F9EA0;
    -fx-background-radius: 15.0;
}

.combo-box:hover{
    -fx-cursor: hand;
}